<a href="https://colab.research.google.com/github/devij321-coder/Amazon_Sales_EDA/blob/main/Exploratory_data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

AMAZON PRIME TV SHOWS AND MOVIES

title.*csv*

load title.csv

In [116]:
load_dataset:('titles.csv');


![alt text](https://moriohcdn.b-cdn.net/ff3cc511fb.png)

## Introduction

**What is Exploratory Data Analysis ?**

Exploratory Data Analysis or (EDA) is understanding the data sets by summarizing their main characteristics often plotting them visually. This step is very important especially when we arrive at modeling the data in order to apply Machine learning. Plotting in EDA consists of Histograms, Box plot, Scatter plot and many more. It often takes much time to explore the data. Through the process of EDA, we can ask to define the problem statement or definition on our data set which is very important.

**How to perform Exploratory Data Analysis ?**

This is one such question that everyone is keen on knowing the answer. Well, the answer is it depends on the data set that you are working. There is no one method or common methods in order to perform EDA, whereas in this tutorial you can understand some common methods and plots that would be used in the EDA process.

**What data are we exploring today ?**



Since I am a huge fan of cars, I got a very beautiful data-set of cars from Kaggle. The data-set can be downloaded from [here](https://www.kaggle.com/CooperUnion/cardataset). To give a piece of brief information about the data set this data contains more of 10, 000 rows and more than 10 columns which contains features of the car such as Engine Fuel Type, Engine HP, Transmission Type, highway MPG, city MPG and many more. So in this tutorial, we will explore the data and make it ready for modeling.



---

## 1. Importing the required libraries for EDA

Below are the libraries that are used in order to perform EDA (Exploratory data analysis) in this tutorial.

In [117]:
from pickle import OBJ
from ast import Str
import pandas as pd
import numpy as np
import seaborn as sns                       #visualisation
import matplotlib.pyplot as plt             #visualisation
%matplotlib inline
sns.set(color_codes=True)
import warnings
warnings.filterwarnings("ignore")
titles = "datasets" # now EDA refers to the same datasets
titles.str.head(5)
dataframe = "df"
print(dataframe)
Day = str(6)
year = str(2025)
month = str(5)
Datetime = str(Day + "-" + month + "-" + year)
print(Datetime)

AttributeError: 'str' object has no attribute 'str'

## 2. Loading the data into the data frame.
Load data into "Titles"

In [124]:
from types import LambdaType
from __future__ import generator_stop
from inspect import getinnerframes
load_dataset = ('titles.csv');
head:(5)
tail:(5)

DATA CLEANING:

print("nullcount")
str: titles
print(titles)

# How do I convert released date to dateformate in EDA:

date_time_str = '2018-06-29'
Str["date"] = 'OBJ_datetime'(str["date_str"], format="%Y-%m-%d")
print(str["datetime"])

HOW DO I COUNT MOVIES AND TV SHOWS IN THE DATASET:

dataframe("movies"),Count_Values:('movies_type'())
dataframe("shows"),Count_Values:('show_type'())

HOW DO I GET TOP 10 geners

dataframe: object='value_counts'('geners'),str('Top10_geners')

HOW DO I COUNT HOW MANY TITLES WERE RELEASED EACH YEAR

count_values:str ('each_year')
count_object:str('each_year')

HOW DO I FOUND MOST FREQUENT Doctors:

count_values: str("Doctors")
count_object: str("Doctors")

HOW CAN I ANALYZE KEY WORDS LIKE 'LOVE', 'WAR' IN TITLE:

LabelType: "Title"
DataFrameGroupBy: "LOVE"
DataFrameGroupBy: "WAR"

HOW CAN I MAKE WORD CLOUD FROM TITLE:

DATASET="title"
GroupBy="cloud"

Loading the data into the pandas data frame is certainly one of the most important steps in EDA, as we can see that the value from the data set is comma-separated. So all we have to do is to just read the CSV into a data frame and pandas data frame does the job for us.

To get or load the dataset into the notebook, all I did was one trivial step. In Google Colab at the left-hand side of the notebook, you will find a > (greater than symbol). When you click that you will find a tab with three options, you just have to select Files. Then you can easily upload your file with the help of the Upload option. No need to mount to the google drive or use any specific libraries just upload the data set and your job is done. One thing to remember in this step is that uploaded files will get deleted when this runtime is recycled. This is how I got the data set into the notebook.

In [ ]:
df.tail(5)                        # To display the botton 5 rows



---

## 3. Checking the types of data

Here we check for the datatypes because sometimes the MSRP or the price of the car would be stored as a string, if in that case, we have to convert that string to the integer data only then we can plot the data via a graph. Here, in this case, the data is already in integer format so nothing to worry.



---

In [119]:
df.dtypes

NameError: name 'df' is not defined

## 4. Dropping irrelevant columns

This step is certainly needed in every EDA because sometimes there would be many columns that we never use in such cases dropping is the only solution. In this case, the columns such as Engine Fuel Type, Market Category, Vehicle style, Popularity, Number of doors, Vehicle Size doesn't make any sense to me so I just dropped for this instance.

In [ ]:
df = df.drop(['Engine Fuel Type', 'Market Category', 'Vehicle Style', 'Popularity', 'Number of Doors', 'Vehicle Size'], axis=1)
df.head(5)



---



---

## 6. Dropping the duplicate rows

This is often a handy thing to do because a huge data set as in this case contains more than 10, 000 rows often have some duplicate data which might be disturbing, so here I remove all the duplicate value from the data-set. For example prior to removing I had 11914 rows of data but after removing the duplicates 10925 data meaning that I had 989 of duplicate data.

Now let us remove the duplicate data because it's ok to remove them.

In [ ]:
df.count()      # Used to count the number of rows

So seen above there are 11914 rows and we are removing 989 rows of duplicate data.

In [ ]:
df = df.drop_duplicates()
df.head(5)

In [120]:
df.count()

NameError: name 'df' is not defined



---

## 7. Dropping the missing or null values.

This is the reason in the above step while counting both Cylinders and Horsepower (HP) had 10856 and 10895 over 10925 rows.

Now we have removed all the rows which contain the Null or N/A values (Cylinders and Horsepower (HP)).

In [ ]:
print(df.isnull().sum())   # After dropping the values



---

## 9. Plot different features against one another (scatter), against frequency (histogram)

### Histogram

Histogram refers to the frequency of occurrence of variables in an interval. In this case, there are mainly 10 different types of car manufacturing companies, but it is often important to know who has the most number of cars. To do this histogram is one of the trivial solutions which lets us know the total number of car manufactured by a different company.

In [ ]:
df.Make.value_counts().nlargest(40).plot(kind='bar', figsize=(10,5))
plt.title("Number of cars by make")
plt.ylabel('Number of cars')
plt.xlabel('Make');

### Heat Maps

Heat Maps is a type of plot which is necessary when we need to find the dependent variables. One of the best way to find the relationship between the features can be done using heat maps. In the below heat map we know that the price feature depends mainly on the Engine Size, Horsepower, and Cylinders.

In [121]:
plt.figure(figsize=(10,5))

**Hence the above are some of the steps involved in Exploratory data analysis, these are some general steps that you must follow in order to perform EDA. There are many more yet to come but for now, this is more than enough idea as to how to perform a good EDA given any data sets. Stay tuned for more updates.**

## Thank you.